//media quaries
$breakpoints: (
  "phone":          400px,
  "phone-wide":     480px,
  "phablet":        560px,
  "tablet-small":   640px,
  "tablet":         768px,
  "tablet-medium":  992px,
  "tablet-wide":    1024px,
  "desktop-small":  1200px,
  "desktop":        1248px,
  "desktop-medium": 1287px,
  "desktop-hd":     1440px,
  "desktop-wide":   1921px
);
@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}


// double border
@mixin double-border($color){
  &:before{
    content: "";
    width: calc(100% + 5px);
    height: 100%;
    display: block;
    position: absolute;
    left: -20px;
    top: -3px;
    border: 1px solid $color;
    padding: 0 12px;
    transition: $def-time;
    pointer-events: none;
  }
  &:after{
    content: "";
    width: calc(100% + 5px);
    height: 100%;
    display: block;
    position: absolute;
    left: -17px;
    top: 0;
    border: 1px solid $color;
    padding: 0 12px;
    transition: $def-time;
    pointer-events: none;
  }
}


