<mat-card class="myContent">
  <mat-dialog-content class="mat-typography">
    <h3>Add User Roles</h3>
    <div mat-dialog-content [formGroup]="form">
      <mat-form-field>
        <mat-label>Enter Role name</mat-label>
        <mat-select multiple formControlName="roles">
          <mat-option *ngFor="let row of roles$ | async" [value]="row.id">
            {{ row.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()" mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit()">Submit</button>
  </mat-dialog-actions>
</mat-card>
<!--<div mat-dialog-actions>-->
<!--  <button mat-raised-button color="primary" (click)="dialogRef.close()">Close</button>-->
<!--  <button mat-raised-button color="primary" (click)="submit()">Submit</button>-->
<!--</div>-->



