<div class="container-def">

  <div class="title-row">
    <h2>Members List</h2>

    <div class="button-container">
<!--      <button  color="primary" mat-raised-button  routerLink="add" class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--        <mat-icon>add</mat-icon> add User-->
<!--      </button>-->
      <button  color="primary" mat-raised-button (click)="addMember(members)" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>add</mat-icon> add Member
      </button>
    </div>
  </div>
  <ng-container *ngIf="loading; else loaded">
    <div class="loader-container">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
  <ng-template #loaded>
    <div class="button-container message" *ngIf="members.length == 0">
      <p> there are no Members </p>
      <button mat-stroked-button color="primary" routerLink="add"> <mat-icon>add</mat-icon> add Member</button>
    </div>
    <ng-container *ngIf="members.length !== 0">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell  class="link-cell" *matCellDef="let element" > {{element.firstName}}  {{element.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> createdAt </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef> updatedAt </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let element" >

            <div class="button-container">
              <button mat-icon-button color="primary" [routerLink]="['edit', element?.id]" aria-label="icon button with a edit icon" >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="delete(element.id)" aria-label="icon button with a delete icon" >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <mat-paginator
        #paginator
        [length]="totalData"
        [pageSizeOptions]="pageSizes"
        showFirstLastButtons
      ></mat-paginator>
    </ng-container>
    <!--  <div> Output event: {{(pageEvent | json) || 'No events dispatched yet'}} </div>-->
  </ng-template>
</div>

