

@import 'src/styles/partials/common';
@import 'src/styles/globals/variables';
.svg-container{
  width: 100%;
  height: calc(100% - #{$header-height});
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container{
  padding-top: 20px;
  width: 100%;
  text-align: center;

}
.wrapper{
  height: calc(100vh - $header-height);

  display: flex;
  flex-direction: column;

}
