:host {
  display: block;

  .container {
    width: 100%;
    display: block;

    .content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_left {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-right: 1px solid #ccc;
        padding-right: 10px;
      }

      &_right {
        flex: initial;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 10px;
      }
    }
  }
}
