


<div class="page-content-container container-def">
  <section class="title-row">
    <h1>{{pageTitle}}:</h1>
  </section>
  <div class="form-container">
    <form action="" [formGroup]="form" (submit)="submit()">
      <mat-error *ngIf="errorMsg"> {{errorMsg}}</mat-error>
      <mat-form-field appearance="fill" >
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="workspaceName" formControlName="name" required>
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched"> please fill in  </mat-error>
      </mat-form-field>

      <button type="submit" color="primary" mat-raised-button matInput class="form-button">submit</button>
    </form>
  </div>
</div>
