<div>
    <form [formGroup]="form">
      <div class="form-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="addColumn()">Add Column</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>

  
  
      </div>
  
      <div class="columns" formArrayName="columns" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
  <!--      <div *cdkDragPreview class="preview"></div>-->
        <div *ngFor="let column of columnsFormArray.controls; let i = index" class="item" cdkDrag>
          <div class="item-placeholder" *cdkDragPlaceholder></div>
          <div class="item-preview" *cdkDragPreview>
            
          </div>
          <div [formGroupName]="i">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <mat-select formControlName="taskStatus">
                <mat-option *ngFor="let status of taskStatuses" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="deleteColumn(i)">Delete Column</button>
          </div>
        </div>
      </div>
  
    </form>
  </div>
  