.form-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .columns {
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
  
    .item {
      flex: initial;
      width: 300px;
      height: 100%;
      display: block;
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
  
  .item-placeholder {
    flex: initial;
    width: 300px;
    height: 300px;
    display: block;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  
  .item-preview {
    width: 300px;
    height: 300px;
    display: block;
    background-color: #af1a1a;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  